# --- Python & Environnement ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*


# --- IDE (VS Code) ---
.vscode/
.idea/
.history/

# --- Security and configuration ---
.env
qiskit-runtime.json
setup_ibm.py
apikey.json